[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = git@github.com:Modexus/simple-knn
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = git@github.com:Modexus/diff-gaussian-rasterization
[submodule "SIBR_viewers"]
	path = SIBR_viewers
	url = git@github.com:Modexus/sibr_core.git
